.navbar {
    background-color: gray;
}

.head-card-text-title  {
    color: black;  
}

footer {
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
}

footer section {
    margin-bottom: 20px;
}

footer a {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: gray;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

.ranglista-container {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.ranglista-filters {
    margin-bottom: 20px;
}
.ranglista-filters label {
    margin-right: 10px;
}
.ranglista-filters select {
    margin-right: 20px;
    padding: 5px;
}
.ranglista-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.ranglista-table th, .ranglista-table td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}
.ranglista-table th {
    background-color: #352c2c;
}
.ranglista-table tr.hidden {
    display: none;
}
.hidden {
    display: none;
}